@import '~antd/dist/antd.css';

#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .logout {
    display: flex;
    justify-content: flex-end;
    align-items: center
  }